appdirs==1.4.3
beckett==0.8.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
fcache==0.4.7
Flask==1.1.1
idna==2.8
inflect==0.2.5
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pokepy==0.6.0
requests==2.21.0
six==1.10.0
urllib3==1.24.3
Werkzeug==0.16.0
